# Supabase
VITE_SUPABASE_URL=https://jvpoepkkfottdcnylrkp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2cG9lcGtrZm90dGRjbnlscmtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjEzNDQsImV4cCI6MjA4OTU5NzM0NH0.Zxuz5gOL52O2SOyjw_5MoRVQruOxYFlAQFndW2ROK8w

# TMDB API
VITE_TMDB_API_KEY=f04a49d9a6e6a21341af3adfc16d05f2
VITE_TMDB_API_URL=https://api.themoviedb.org/3

# App
VITE_APP_URL=http://localhost:5173
