# Supabase
SUPABASE_URL=https://jvpoepkkfottdcnylrkp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2cG9lcGtrZm90dGRjbnlscmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDAyMTM0NCwiZXhwIjoyMDg5NTk3MzQ0fQ.ZTI9VdBwVjmvedjdd6jE4gAAwHt6XkmeoqXVGF9gats

# TMDB API
TMDB_API_KEY=f04a49d9a6e6a21341af3adfc16d05f2
TMDB_API_URL=https://api.themoviedb.org/3

# App
APP_URL=http://localhost:5173
